In [1]:
"""
Name: Karolina Kukula Smoter

Description: This program uses sqlite3 and pandas to interact with
a book database based on question 17.2 in our textbook.

Instructor: Professor Morovati
Author: Karolina Kukula Smoter
Version: 1
Class: CIS2532
Section: NET02
Assignment #:12
Date: 12/11/2022
"""
#Connecting to the database.
import sqlite3
connection = sqlite3.connect('books.db')

In [2]:
#Finding and displaying the data.
import pandas as pd
pd.read_sql('SELECT * FROM titles', connection)

         isbn                             title  edition copyright
0  0135404673     Intro to Python for CS and DS        1      2020
1  0132151006     Internet & WWW How to Program        5      2012
2  0134743350               Java How to Program       11      2018
3  0133976890                  C How to Program        8      2016
4  0133406954  Visual Basic 2012 How to Program        6      2014
5  0134601548          Visual C# How to Program        6      2017
6  0136151574         Visual C++ How to Program        2      2008
7  0134448235                C++ How to Program       10      2017
8  0134444302            Android How to Program        3      2017
9  0134289366         Android 6 for Programmers        3      2016

In [3]:
#Closing the connection.
connection.close()